@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Special+Elite&display=swap');

*{
    padding: 0;
    border: 0;
    margin: 0;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
}



/* -----------------------------------------------------------Main Page container */

.init-page-container {
    background: url("../flag_images/field.png") no-repeat center center,
     linear-gradient(0deg, rgb(68, 44, 12) 7%, rgba(29, 15, 2, 0.301) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    overflow: visible;
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.page-container {
    background: url("../flag_images/field.png") no-repeat center center,
     linear-gradient(0deg, rgb(31, 20, 5) 7%, rgba(68, 44, 12, 0.712) 15%, rgba(87, 45, 6, 0.301) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100vw;
    height: 260vh;
    min-height: 2200px;
    transition: height 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


/* Headings */

h1 {
    text-decoration: none;
    font-family: 'Special Elite', sans-serif;
    font-size: calc(2vw + 30px);
    color: rgb(58, 32, 27);
    margin: 20px 0px 0px;
    border-bottom: 2px rgb(37, 17, 37);
}

h1 a{
    text-decoration: none;
    color: rgb(58, 32, 27);
}

h2 {
    font-family: 'Josefin Slab', sans-serif;
    font-size: calc(1.8vw + 12px);
    color: wheat;
    text-decoration: underline;
}

h4 {
    color: whitesmoke;
    font-size: calc(2vw + 10px);
    line-height: calc(2vw + 10px);
    font-family: 'Roboto', 'Arial', 'sans-serif';
    margin-top: 3vw;
}


/* Paragraphs */

.key p {
    color: white;
    font-size: calc(2vw + 10px);
    font-family: 'Roboto', 'Arial', 'sans-serif';
    text-align: center;
    margin-top: 3vw;
    width: 95%;
}

.intro p {
    font-family: 'Josefin Slab', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: calc(1.6vw + 6px);
    line-height: calc(1.7vw + 8px);
    margin: 1vw 0px;
}


/* ----------------------------------------------------Introduction and Key */

.intro {
    width: 95%;
    text-align: center;
    transform: scale(1);
    opacity: 100%;
    transition: transform 1s ease-in-out, opacity 0.3s ;
    margin-top: 10px;
}

.key {
    height: 400px;
    width: 100%;
    margin-top: -50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(0);
    transition: transform 1s ease-in-out;
}

.key-table {
    width: 60%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    color: whitesmoke;
    font-size: calc(2vw + 10px);
    font-family: 'Roboto', 'Arial', 'sans-serif';
    list-style: none;
    line-height: normal;
}

li img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    background: radial-gradient(circle, rgba(194, 187, 171, 0.5) 14%, rgba(196, 172, 172, 0.37) 34%, rgba(189, 137, 60, 0) 70%);
    border-radius: 2px;
    vertical-align: middle;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}


/* Contact Link */

.contact-link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 22px;
    font-family: 'Josefin Slab', sans-serif;
    text-decoration: none;
    color: rgb(29, 10, 10);
    background: url("../flag_images/envelope.png") no-repeat left top;
    background-size: cover;
    border-radius: 2px;
    width: 100px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px black;
    opacity: 0%;
    transform: scale(0);
    transition: opacity 2s ease, transform 1s ease-in-out;
}


/* -----------------------------------------------World War Globes */

.ww1 {
    float: left;
    margin-right: 10px;
}

.ww2 {
    float: right;
    margin-left: 10px;
}

.ww {
    text-decoration: none;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(5vw + 50px);
    height: calc(5vw + 50px);
    min-width: calc(5vw + 50px);
    border-radius: 50%;
    background: url("../flag_images/globe.png"), rgba(189, 137, 60, 0.568);
    background-blend-mode: multiply;
    background-size: cover;
    color: whitesmoke;
    cursor: pointer;
    font-family: 'Josephin Slab', sans-serif;
    font-weight: bold;
    transform: scale(1);
    box-shadow: 0px 6px 30px white;
    filter: brightness(100%);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.ww h2 {
    text-decoration: none;
}

.ww:not(.world-highlighted):hover {
    box-shadow: 0px 20px 40px white;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.world-highlighted {
    transform: scale(1.3);
    box-shadow: 0px 20px 50px white;
    filter: brightness(130%);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, filter 0.5s ease-in-out;
}


/* --------------------------------------------Button and Map Container */

.init-map-button-container {
    width: 100%;
    visibility: hidden;
    z-index: 1;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-button-container {
    width: 100%;
    height: 900px;
    visibility: visible;
    z-index: 1;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform-origin: top;
    transition: transform 1s ease-in;
    z-index: 1;
    margin-top: -50vh;
}


/* --------------------------------------Time Period Buttons */

.period-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 85px;
    border-radius: 50px 50px 50px 50px;
    color: whitesmoke;
    background-color: #b3544a;
    margin-bottom: 6px;
    cursor: pointer;
    opacity: 85%;
    filter: brightness(100%);
    transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

.period-button:not(.highlighted):hover {
    filter: brightness(110%);
    box-shadow: 0px 2px 6px white;
    transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.pb1 {
    width: 10%;
}

.pb2 {
    width: 15%;
}

.pb3 {
    width: 24%;
}

.pb4 {
    width: 36%;
}

.pb5 {
    width: 49%;
}

.pb6 {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    border-radius: 50px 50px 50px 50px;
    color: whitesmoke;
    background-color: #b3544a;
    margin-bottom: 6px;
    cursor: pointer;
    opacity: 85%;
    filter: brightness(100%);
    transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

.pb6:not(.highlighted):hover {
    filter: brightness(110%);
    box-shadow: 0px 2px 6px white;
    transition: filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.highlighted {
    filter: brightness(120%);
    box-shadow: 0px 5px 8px white;
}


/* --------------------------------------Date Banner */

.banner {
    width: 110px;
    height: 45px;
    background: url("../flag_images/banner.png") right bottom no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.banner h3 {
    margin-bottom: -4px;
}

.start-end-date {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
    margin-top: -22px;
}

.start-date {
    margin-left: 5px;
}

.end-date {
    transform: scaleX(-1);
}

.interval-dates {
    align-self: flex-end;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.end-date h3 {
    transform: scaleX(-1);
}


/* ---------------------------------------------Slider */

#slider {
      appearance: none;
      width: 96%;
      height: 4px;
      background: radial-gradient(circle, rgba(18 58 87) 24%, rgb(121, 9, 9) 84%, rgba(0, 213, 255, 0.082) 100%);
      border-radius: 1px;
      margin: 10px 0;
      outline: none;
      opacity: 0.9;
      filter: brightness(100%);
      transition: opacity 0.2s ease, filter 0.2s ease;
      overflow: visible;
      z-index: 2;
      cursor: grab;
      margin-bottom: 15px;
}

#slider:hover {
      opacity: 1;
      filter: brightness(150%);
   }

#slider::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      appearance: none;
      width: 130px;
      height: 70px;
      background: url("../cluster_images/mww2Aerial.png") no-repeat 0 -10px;
      background-size: cover;
      cursor: pointer;
      opacity: 1;
      transform: rotate(0deg);
      transition: transform 0.5s ease-in-out;
      top: -5px;
      cursor: grab;
   }

#slider:hover::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      appearance: none;
      width: 130px;
      height: 70px;
      background: url("../cluster_images/mww2Aerial.png") no-repeat 0 -10px;
      background-size: cover;
      cursor: pointer;
      opacity: 1;
      transform: rotate(-5deg);
      transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.33, 3.26);
      margin-bottom: 70px;
      cursor: grab;
   }

#slider::-webkit-slider-runnable-track {
    height: 3px;
    margin-top: -70px;
}

/*--------------------------------------------Map*/

.maps {
    width: 100%;
    height: 650px;
    position: relative;
    z-index: 1;
}

#map {
    top: 1%;
    left: 1.5%;
    height: 90vh;
    width: 97%;
    position: absolute;
    border-radius: 3px;
}

/* Map Overview */
#overview {
  left: 3%;
  height: 175px;
  border-radius: 50%;
  width: 175px;
  bottom: -8%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;

}

/* Date at Bottom of Map */
#year { 
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 35px;
    color: rgb(8, 8, 8);
    top: 80vh;
    position: absolute;
    z-index: 2;
    margin: 0px 25%;
    width: 50%;
}


/* -----------------------------------------------Info Box */

#battleInfoBox {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fFlagsNpole {
    height: 100%;
    width: 200px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.eFlagsNpole {
    height: 100%;
    width: 200px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flagpole {
    height: 100%;
    width: 17px;
    background: url("../flag_images/flagpole2.png") no-repeat, linear-gradient(0deg, rgba(31, 20, 5, 0.986) 1%, rgba(31, 20, 5, 0.753) 2%, rgba(31, 20, 5, 0.397) 5%, rgba(31, 20, 5, 0) 100%);
    background-blend-mode: multiply;
}

.flags {
    width: 85px;
    height: auto;
}

.fFlags {
    margin: 22px 10px 0px 0px;
}

.eFlags {
    margin: 22px 0px 0px 10px;
}

#friendly-flags img {
    width: 85px;
    height: 50px;
}

#enemy-flags img {
    width: 87px;
    height: 50px;
}


/* --------------------------------Info Table */

.infoBoxTable {
    width: 90%;
    margin-bottom: 25px;
}

th h1 {
    color: whitesmoke;
}

th, td {
    font-family: 'Josefin Slab', sans-serif;
    color: whitesmoke;
    margin-bottom: 15px;
}

.battle-title {
    height: 10px;
}

th a {
    text-decoration: none;
}

th img {
    margin-left: -200px;
    width: 50px;
    height: 50px;
}

td {
    word-wrap: normal;
    width: 50%;
    text-align: center;
}

.battle-description {
    width: 80%;
    margin: 5% 10% 0 10%;
    font-size: 25px;
}

/* -------------------------------------------------Feedback Page */

.feedback-container {
    width: 100vw;
    height: 100vh;
    background: url("../flag_images/field.png") no-repeat center center, #615843;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background-color: #5c2e29;
    opacity: 80%;
    box-shadow: 0px 1px 5px black;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

.main-link:hover {
    opacity: 100%;
    box-shadow: 0px 5px 10px black;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

/* Feedback From */

.feedback-form {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

.form-control {
    width: 70%;
    height: 30px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 18px;
    background: beige;
}

.form-control:focus {
    background: beige;
}

#projectFeedback {
    height: 150px;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 18px;
    background: beige;
}

.submit-btn {
    width: 50%;
    min-width: 200px;
    height: 30px;
    margin: 10px;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    background-color: rgb(212, 91, 69);
    cursor: pointer;
    opacity: 80%;
    box-shadow: 0px 1px 5px black;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.submit-btn:hover {
    opacity: 100%;
    box-shadow: 0px 5px 10px black;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.feedback-response {
    color: whitesmoke;
}


/* ------------------------------------------------------------Responsivity */

/* Large Screens */
@media only screen and (min-width: 2000px) {
    .init-page-container {
        min-height: 1000px;
    }

    .page-container {
        height: 3100px;
        max-height: 3400px;
    }  

    .key {
        margin-top: calc(-29vw - 488px);
    }

    .map-button-container {
        margin-top: calc(-27vw - 600px);
    }

    #map {
        height: 70vh;
    }

    #year {
        top: 60vh;
    }

    #overview {
        bottom: 0%;
    }

  .feedback-form {
      width: 50%;
  }

  .form-control {
      width: 50%;
  }


}


/* Extra Large Screens */
@media only screen and (min-width: 2400px) {
    .init-page-container {
        min-height: 1250px;
    }

    .page-container {
        min-height: 3100px;
    }

    #overview {
        bottom: -15vh;
    }
}


/* Medium Laptop Screens */
@media only screen and (min-width: 1400px) and (max-width: 2000px) {
    .init-page-container {
        min-height: 800px;
    }

    .page-container {
        min-height: 2500px;
    }
}


/* Small Laptop Screens */
@media only screen and (max-width: 1024px) {
    .init-page-container {
        min-height: 800px;
    }

    .page-container {
        height: 250vw;
    }

    .key {
        margin-top: -135vw;
    }

    .map-button-container{
        margin-top: -139vw;
    }

    .banner h3 {
        margin-bottom: -4px;
    }

    #overview {
        visibility: collapse;
    }

    #year {
        top: 80vh;
    }

}


/* Tablet Screens */
@media screen and (max-width: 1024px) and (max-height: 900px) {

    .init-page-container {
        height: 120vh;
        min-height: 800px;
    }

    .page-container {
        height: 250vw;
        max-height: 2000px;
    }

    .key {
        margin-top: -44vw;
    }

    .map-button-container{
        margin-top: -40vw;
    }
}


/* Small Tablet Screens */
@media only screen and (max-width: 900px) {

  .page-container{
    height: 246vh;
  }

  .key {
      margin-top: -45vw;
  }

  .map-button-container {
      margin-top: -56vw;
  }

  #overview {
    visibility: hidden;
  }

  .start-end-date {
      margin-top: 0px;
  }

  #map {
      width: 100%;
      left: 0px;
  }

    #year {
      top: 80vh;

    }
}


/* Phone Screens */
@media only screen and (max-width: 700px) {

  .page-container {
      height: 550vw;
      max-height: 2000px;
  }

  .intro p {
      font-size: 16px;
      line-height: 16px;
  }

  .key {
      margin-top: -85vw;
      flex-wrap: wrap;
  }

  .ww1 {
      order: 1;
      margin-right: 0px;
  }

  .ww2 {
      order: 2;
      margin-left: 0px;
  }

  .key-table {
      order: 3;
      width: 100%;
  }

  li img {
      height: 60px;
      width: 60px;
  }

  .map-button-container {
      margin-top: -100vw;
  }

  .pb1, .pb2 {
      visibility: collapse;
  }

  .banner {
      width: 152px;
      height: 45px;
  }

  .banner h3 {
      margin-bottom: 0px;
  }

  .interval-dates {
    visibility: collapse;
  }

  #map {
      height: 100vh;
  }

  #year {
      font-size: 30px;
      top: 90vh;
  }

  .contact-link {
    width: 41.6px;
    height: 23.5px;
    font-size: 11px;
    margin: 10px 5px 0px 0px;
}

  .infoBoxTable {
      width: 100%;
  }

  .battle-description {
      left: 0px;
      width: 100%;
      margin: 20px 0px 0px;
  }

  .fFlagsNpole {
    width: 0px;
    visibility: collapse;
  }

  .eFlagsNpole {
    width: 0px;
    visibility: collapse;
  }

  #battleInfoBox {
    margin-bottom: 50px;
  }

  th, td {
      max-width: 50%;
  }

  .feedback-form {
      width: 90%;
  }

  .form-control {
      width: 90%;
  }

}


/* Small Phones */
@media only screen and (max-width: 450px) {

    .key {
        max-height: 600px;
        margin-top: -48vw;
    }

    .banner h3 {
        margin-bottom: -18px;
        font-size: 14px;
    }
}


/* Small Phones */
@media only screen and (max-width: 450px) and (min-height: 800px) {

    .page-container {
        height: 400vw;
        max-height: 2492px;
    }

    .key {
        margin-top: -130vw;
    }

    .map-button-container {
        margin-top: -180vw;
    }
}


/* Fat Phones */
@media only screen and (min-width: 530px) and (max-width: 550px) {

    .map-button-container {
        margin-top: -100vw;
    }
}


/* Really Small Phones */
@media only screen and (max-width: 370px) {

    #year {
      font-size: 26px;
      top: 90vh;
  }
}


/* Tiny Phone Screens */
@media only screen and (max-width: 340px) {

    .init-page-container {
        height: 130vh;
    }

    .contact-link {
        margin: 55px 5px 0px 0px;
    }
}


/* Phones On their Side */
@media only screen and (max-height: 450px) and (max-width: 700px) {

    .init-page-container {
        height: 130vh;
        min-height: 500px;
    }

    .page-container {
        height: 300vw;
        max-height: 300vw;
    }

    .key {
        margin-top: -30vw;
    }

    .map-button-container {
        margin-top: -80vw;
    }
}
